- if @journea.present?
  - if @journea.previous_step.present?
    = link_to 'Back', edit_journey_step_path(@journea, @journea.previous_step), class: 'link-back back-link'
  - elsif @journea.in_initial_state?
    = link_to 'Back', main_app.root_path, class: 'link-back back-link'
